
@import 'values';

#footer {
  background-color: $footer-background;
  border-top: $border-width solid $border-color;
  
  .contents {
    max-width: $body-width;
    width: 100%;
    margin: 0 auto;

    padding: $footer-padding-vertical $footer-padding-horizontal;

    a {
      @include title();
      font-size: 85%;
      opacity: 0.7;
    }
    
  }

}