
@import 'values';

@import 'term-sidebar';

body.list main {

  header {
    padding: $unit $body-padding-horizontal;

    h1.title {
      @include title();
      display: inline-block;
    }

  }

  .contents .list {
    background-color: $body-background;
    
    border: $border-width solid $border-color;
    border-radius: $border-radius;

    list-style-type: none;
    
    @include lt-small() {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
      padding-left: $body-padding-horizontal-small;
      padding-right: $body-padding-horizontal-small;
    }
    
    li {

      a, &.empty-list {
        padding: $list-padding-vertical $body-padding-horizontal;
        display: block;
        @include title();
        font-size: 100%;
        
        @include lt-small() {
          padding-left: $body-padding-horizontal-small;
          padding-right: $body-padding-horizontal-small;
        }
        
      }
      
    }

    li + li {
      border-top: $border-width solid $border-color;
    }

  }

}
