
@import 'values';

@import 'markdown';

@import 'list';

main {
  
  flex: 1;

  .contents {
    max-width: $body-width;
    width: 100%;
    margin: $body-spacing auto;

    @include mobile() {
      margin: 0;
    }
    
    .text {

      a {
        @include a();
      }
      
    }
   
  }

}
