
@import 'values';

@import 'markdown';

@import 'list';

main {
  
  flex: 1;

  .contents {
    max-width: $body-width;
    width: 100%;
    margin: $body-spacing auto;

    @include mobile() {
      margin: 0;
    }
    
    header.title {
      padding: $unit $body-padding-horizontal;

      @include mobile() {
        background-color: $theme-color;
        padding: 0;
      }
      
      h1 {
        @include title();
        display: inline-block;
        
        @include mobile() {
          color: white;
          padding: $unit * 2 0;
        }
        
      }

      h2.authors {
        padding-top: $unit;
        @include author();

        .author {
          color: mix($theme-color, $body-foreground, 80%);
          font-weight: bold;
        }
        
        @include mobile() {
          color: white;

          .author {
            color: white;
          }
          
        }
        
      }

      
      @include lt-small {
        padding: $unit $body-padding-horizontal-small;

        h1 {
          font-size: 150%;
          font-weight: bold;
        }
      }

      
    }

    .text {

      a {
        @include a();
      }
      
    }
   
  }

}
