
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:400,700|Roboto');

@import 'reset';

@import 'values';

@import 'text';

@import 'header';
@import 'main';
@import 'footer';

html, body {
  width: 100%;
  min-height: 100vh;
}

html {
  background-color: $page-background;
  font-family: 'Roboto', sans-serif;
}

body {
  color: $body-foreground;
  display: flex;
  flex-direction: column;
  
  transition: background-color 0.3s ease;
}

body.header-open {
  background-color: rgba(black, 0.7);
}