
@import 'values';

#term-sidebar {
  float: right;

  border: $border-width solid $border-color;
  border-width: 0 0 $border-width $border-width;
  border-radius: 0 0 0 $border-radius;

  margin-top: -$body-padding-vertical;
  margin-right: -$body-padding-horizontal;
  margin-left: $body-padding-horizontal;
  margin-bottom: $body-padding-vertical;

  position: relative;

  z-index: 10;

  .section {

    padding: $sidebar-spacing 0;

    width: $sidebar-width;

    header, ul {
      padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
    }

    header {

      h1 {
        @include title();
        font-size: 100%;
      }
    }

    ul {

      list-style-type: none;
      
    }

    &.infobox {
      
      dl {

        .twr.altitude-vac {
          display: none;
        }
      
        dt {
          padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
          width: $sidebar-key-width;
          float: left;
          clear: left;
          font-style: italic;
          text-align: right;
          opacity: 0.8;
        }
        
        dd {
          padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
          display: block;
          width: $sidebar-width;
          text-align: left;
          @include value();
        }

        hr {
          clear: both;
          border-top: $border-width dotted $border-color;
          margin: 0 $sidebar-padding-horizontal;
          margin-top: -1px; // hide duplicates
        }

      }

    }

    &.vacuum-only {
      
      .altitude-sl {
        display: none;
      }
      
      .twr.altitude-vac {
        display: block !important;
      }
      
    }
    
  }

  .section + .section {
    border-top: $border-width solid $border-color;
  }
  
}